.StatusDiv {
    width: 150px;
    margin-left: 190px;
    height: 3px;
    background-color: #B69F58;
}

.Button {
    height: 50px;
    font-family: inherit;
    font-size: 25px;
    width: 180px;
    margin-left: 40px;
    background-color: #B69F58;
    border-radius: 4px;
}

.p {
    float: left;
    text-align: left;
    width: 325px;
    height: 40px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}

.p1 {
    float: left;
    text-align: left;
    width: 325px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}

.Container {
    height: 500px;
    width: 325px;
}

.img {
    margin-right: 20px;
}