body {
  background: lightgrey;
  width:375px;
  margin: auto;
}

.App {
  text-align: center;
  width: 375px;
  height: 750px;
  margin: auto;
  background-color: white;
  font-family: 'MillerBanner Light';
  overflow: hidden;
  border: solid 2px lightgray;
}

@font-face {
  font-family: 'MillerBanner Light';
  src: url('./Font Bureau - MillerBanner Light.otf');
}